name: deploy-auth

on:
  push:
    branches:
      - main
    paths:
      - "auth/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: cd auth && docker build -t denilgabani/auth .
      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PWD
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PWD: ${{secrets.DOCKER_PWD}}
      - run: docker push denilgabani/auth
